h1{color: rgb(228, 15, 86);
    background-color: rgb(255, 102, 0);
padding: 15px;

}
body{text-align: center;}
h4{color: rgb(235, 20, 92);}
a{color: rgb(237, 72, 6);}
.rinat{color: rgb(221, 19, 69);}
span{color: blueviolet;}
.hobbies,.click{background-color: rgb(249, 125, 0);}

span{color: rgb(235, 111, 10);
font-size: 25px;
}
.click{color: rgb(238, 20, 92);

height: 105px;
width: 105px;
padding: 10px;
border: 5px solid rgb(210, 14, 80) ;
margin: auto;
border-radius:50% ;
}

button{color: rgb(214, 28, 90);
background-color: rgb(224, 110, 23);
border: none;
padding: 10px;
margin-top: 10px;
border-radius: 8px;
cursor: pointer;
}

button:hover{background-color: orange;}

.mlife{color: rgb(211, 24, 86);
background-color: rgb(242, 105, 31);
margin: auto;
margin-top: 20px;
padding: 10px;
height: 23px;
width: 70px;
border-radius: 11%;
border: 2px solid rgb(195, 52, 100);

}

img{height: 150px;
   border: 5px solid rgb(198, 27, 84);
}